.button {
  all: unset;
  background-color: #026870;
  height: 3rem;
  color: white;
  font-size: 1.125rem;
  display: grid;
  justify-content: center;
  align-content: center;
  border-radius: 1rem;
  font-weight: 700;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease,
    box-shadow 0.3s ease;

  &:hover {
    background-color: #0495a0;
    transform: scale(1.025);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
}
