@import "./utils/reset.css";
@import "variables.css";
@import "typography.css";
@import "layout.css";
@import "buttons.css";
@import "content.css";

html {
  scroll-behavior: smooth;
}
[data-icon] {
  font-size: 3rem;
  color: #333;
}
.flex-row {
  display: flex;
  gap: 1rem;
}
