@import "./utils/reset.css";
@import "variables.css";
@import "typography.css";
@import "hero.css";
@import "layout.css";
@import "buttons.css";
@import "content.css";

html {
  scroll-behavior: smooth;
}

.flex-row {
  display: flex;
  gap: 1rem;
}
.flex-row--narrow {
  gap: 0.5rem;
}
.flex-row--no-gap {
  gap: 0px;
}

.contact-icons {
  height: 3rem;
  display: flex;
  .contact-icons__icon {
    width: 3rem;
    height: 100%;
    line-height: 3rem;
  }
}
