body {
  background-color: var(--background-color);
  color: #333;
  padding-left: 2rem;
  padding-right: 2rem;
}
.width-switcher {
  height: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  > *:first-child {
    border-top: 1.5px dashed var(--border-color);
    border-left: 1.5px dashed var(--border-color);
    height: 10rem;
  }
}
.width-switcher--reversed {
  > *:first-child {
    border-left: 0px;
    border-right: 1.5px dashed var(--border-color);
  }
}
.container {
  max-width: 60rem;
  margin-inline: auto;
}

.page-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  & > * {
    padding: 8rem 0;
    display: grid;
    gap: 3rem;
  }
  .page-section__left {
    border-right: 1.5px dashed var(--border-color);
    padding-right: 2rem;
  }
  .page-section__right {
    padding-left: 2rem;
  }
}
.page-section__header {
  justify-self: right;
  line-height: 1rem;
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

.page-section__header--left {
  justify-self: left;
}
.page-section__image {
  justify-self: center;
}
.page-section--reversed {
  grid-template-areas: "right left";
}
.page-section--footer {
  padding-left: 2rem;
  & > * {
    padding: 2rem 0 0;
  }
}
.page-section--wide {
  padding: 2rem;
  grid-template-columns: 1fr;
  max-width: 70ch;
  > * {
    border-right: 0px !important;
    padding: 0;
  }
  border-left: 1.5px dashed var(--border-color);
}

@media screen and (max-width: 768px) {
  body {
    padding-left: 4rem;
  }
  .container {
    border-left: 1.5px dashed var(--border-color);
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .page-section {
    grid-template-columns: 1fr;
    grid-template-areas: unset;
    margin-bottom: 3rem;
    & > * {
      padding: 0;
      gap: 2rem;
    }
    .page-section__left {
      border: none;
      margin-bottom: 1rem;
    }
  }
  .page-section--wide {
    border-left: none;
    padding-left: 0px;
    padding-top: 0px;
  }
  .page-section__header {
    justify-self: left;
    padding-left: 2rem;
  }
  .width-switcher,
  .width-switcher--reversed {
    display: none;
  }
}
