body {
  background-color: var(--background-color);
  color: #333;
  padding-left: 2rem;
  padding-right: 2rem;
}
.width-switcher {
  height: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  > *:first-child {
    border-top: 1.5px dashed var(--border-color);
    border-left: 1.5px dashed var(--border-color);
    height: 10rem;
  }
}
.width-switcher--reversed {
  > *:first-child {
    border-left: 0px;
    border-right: 1.5px dashed var(--border-color);
  }
}
.container {
  max-width: 60rem;
  margin-inline: auto;
}

.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  & > * {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  & > *:nth-child(1) {
    border-right: 1.5px dashed var(--border-color);
    padding-right: 2rem;
  }
  & > *:nth-child(2) {
    padding-left: 2rem;
  }
}
.hero__header {
  font-size: 8rem;
}
.hero__text {
  font-size: 1.5rem;
}
.content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  & > * {
    padding: 8rem 0;
    display: grid;
    gap: 3rem;
  }
  & > *:nth-child(1) {
    border-right: 1.5px dashed var(--border-color);
    padding-right: 2rem;
  }
  & > *:nth-child(2) {
    padding-left: 2rem;
  }
}
.content__header {
  justify-self: right;
  line-height: 1rem;
}

.content__header--left {
  justify-self: left;
}
.content__image {
  justify-self: center;
}
.content--reversed {
  grid-template-areas: "right left";
}
.content--footer {
  & > * {
    padding: 2rem 0 0 0;
  }
}
.content--wide {
  padding: 2rem;
  grid-template-columns: 1fr;
  max-width: 80ch;
  > * {
    border-right: 0px !important;
    padding: 0;
  }
  border-left: 1.5px dashed var(--border-color);
}
