---

---

<section class="content content--reversed">
  <h1 class="content__header">About me</h1>

  <div class="">
    <img class="content__image" width="250" height="250" src="/john.png" />
    <p class="bulletted">
      I'm a full stack web developer with 20 years’ experience at ESI, a leading
      UK construction publisher. Currently I develop applications using Nuxt but
      have experience building Java applications, RESTful APIs and many other
      applications.
    </p>
    <button type="button" class="button">See full CV</button>
  </div>
</section>
