---

---

<section class="content content--reversed">
  <div>
    <h2 class="content__header bulletted">About me</h2>
  </div>
  <div class="">
    <img class="content__image" width="250" height="250" src="/john.png" />
    <p>
      I'm a full stack web developer with 20 years’ experience at ESI, a leading
      UK construction publisher. Currently I develop applications using Nuxt but
      have experience building Java applications, RESTful APIs and many other
      applications.
    </p>
    <a href="#cv" class="button">See full CV</a>
  </div>
</section>
