---

---

<section class="content">
  <h1 class="content__header">Contact</h1>
  <div>
    <div>
      <p class="bulletted">Stirling, United Kingdom</p>
      <p>john@notzen.com</p>
      <p>+44 7972164694</p>
      <p>LinkedIn</p>
    </div>
  </div>
</section>
