---
import CVContent from "../../cv.md";
---

<div class="content content--wide" id="cv">
  <div class="bulletted bulletted--reverse">
    <h1 class="content__header content__header--left">Curriculum Vitae</h1>
    <div class="markdown">
      <CVContent />
    </div>
  </div>
</div>
