---

---

<section class="hero">
  <div class="hero__line"></div>
  <h1 class="hero__header">Hello! I'm John.</h1>

  <div class="hero__text">
    <p>I'm a developer based in Stirling, Scotland. I make websites.</p>
  </div>
</section>
